#Logging form applications and DB files
logs/

#MongoDB
./data/

#TEMP Files
*~

#Vagrant
.vagrant/

#NodeJS Files
npm-debug.log
node_modules/

#Bower
bower_components/

#Git
*.BACKUP.*
*.REMOTE.*
*.LOCAL.*
*.orig
