<div class="row">
	<div class="col-lg-10">
		<!--<input type="text" class="form-control" value="Search by name and/or tag, separated by ','" />-->
	</div>
</div>

<div class="row">

	<alert ng-repeat="alert in alerts.list" type="{{alert.type}}" close="alerts.remove($index)">{{alert.msg}}</alert>

	<ml-collection
		title="table.title"
		current-page="table.currentPage"
		default-size="table.defaultSize"
		available-sizes="table.availableSizes"
		number-of-items="table.totalNumberOfItems"
		display-number-of-items="true"
		refresh="table.refresh">
			<table class="table table-hover table-responsive">
				<thead>
					<th class="col-md-1">Actions</th>
					<th class="col-md-3">Title</th>
					<th class="col-md-1"># Books</th>
					<th class="col-md-4">Authors</th>
					<th class="col-md-2	">Genre</th>
				</thead>
				<tbody>
					<tr ng-repeat="item in table.items track by $index" ui-sref="booksDetail({id: item.dbID})">
						<td>
							<a class="clickable" ng-click="removeBook($event, item.dbID)"><span class="glyphicon glyphicon-play"></span></a>
							<a class="clickable" ng-click="removeBook($event, item.dbID)"><span class="glyphicon glyphicon-download"></span></a>
							<a class="clickable" ng-click="removeBook($event, item.dbID)"><span class="glyphicon glyphicon-pencil"></span></a>
							<a class="clickable" ng-click="removeBook($event, item.dbID)"><span class="glyphicon glyphicon-trash"></span></a>
						</td>
						<td>{{item.title}}</td>
						<td>{{item.books.length}}</td>
						<td>
							<span ng-repeat="author in item.authors track by $index">{{author}}{{$last ? '' : ', '}}</span>
						</td>
						<td>
							<span ng-repeat="genre in item.genres  track by $index"><span class="label label-default">{{genre}}</span>{{$last ? '' : ' '}}</span>
						</td>
					</tr>
				</tbody>
			</table>
	</ml-collection>
</div>
