<div class="row">
	<h2>{{bookSerie.title}}</h2>
</div>

<div class="row">
	<!-- PHOTO PANEL -->
	<div class="panel panel-default col-md-4">
		<div class="panel-body">
			Photo
		</div>
	</div>

	<!-- GENERAL INFO PANEL -->
	<div class="panel panel-default col-md-8">
		<div class="panel-body">
			<div class="row" ng-if="isMainBook(bookSerie)">
				<strong>ISBN:</strong> {{bookSerie.isbn}}
			</div>
			<div class="row">
				<strong>Authors:</strong> <span ng-repeat="author in getAuthors(bookSerie) track by $index">{{author}}{{$last ? '' : ', '}}</span>
			</div>
			<div class="row">
				<strong>Other titles:</strong> <span ng-repeat="title in bookSerie.alternativeTitles track by $index">{{title}}{{$last ? '' : ', '}}</span>
			</div>
			<div class="row">
				<strong>Release Date:</strong> {{getEarliestReleaseDate(bookSerie) | date: 'yyyy-MM-dd'}} -
					<span ng-if="bookSerie.status === 'Ongoing'">Ongoing</span>
					<span ng-if="bookSerie.status !== 'Ongoing'">{{getLastReleaseDate(bookSerie) | date: 'yyyy-MM-dd'}}</span>
			</div>
			<div class="row">
				<strong>Tags:</strong> <span ng-repeat="tag in bookSerie.tags track by $index" ><span class="label label-default">{{tag}}</span> {{$last ? '' : ' '}}</span>
			</div>
			<div class="row">
				<strong>Genre:</strong> <span ng-repeat="genre in getGenres(bookSerie) track by $index"><span class="label label-default">{{genre}}</span>{{$last ? '' : ' '}}</span>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<ml-collection
		title="booksList.title"
		current-page="booksList.currentPage"
		items-per-page="booksList.itemsPerPage"
		available-sizes="booksList.availableSizes"
		collection-size="booksList.totalNumberOfItems"
		display-number-of-items="false"
		add-element="addBook"
		refresh="booksList.refresh">
			<table class="table table-hover table-responsive">
				<thead>
					<th class="col-md-1">Actions</th>
					<th class="col-md-3">Title</th>
					<th class="col-md-3">Authors</th>
					<th class="col-md-3">Genre</th>
					<th class="col-md-2">Release Date</th>
				</thead>
				<tr ng-repeat="book in booksList.displayedBooks" ui-sref="bookDetail({serieId: bookSerie.dbId, bookId: book._id})">
					<td>
						<a class="clickable" ng-click=""><span class="glyphicon glyphicon-play"></span></a>
						<a class="clickable" ng-click=""><span class="glyphicon glyphicon-download"></span></a>
						<a class="clickable" ng-click="editBook($event, book._id)"><span class="glyphicon glyphicon-pencil"></span></a>
						<a class="clickable" ng-click="removeBook($event, book._id)"><span class="glyphicon glyphicon-trash"></span></a>
					</td>
					<td>
						{{book.title}}
					</td>
					<td>
						<span ng-repeat="author in book.authors track by $index">{{author}}{{$last ? '' : ', '}}</span>
					</td>
					<td>
						<span ng-repeat="genre in book.genres track by $index"><span class="label label-default">{{genre}}</span>{{$last ? '' : ' '}}</span>
					</td>
					<td>
						{{book.releaseDate | date: 'yyyy-MM-dd'}}
					</td>
				</tr>
			</table>
	</ml-collection>
</div>

<div class="row">
	<div class="panel panel-default">
		<div class="panel-body">
			{{bookSerie.description}}
		</div>
	</div>
</div>

<div class="row">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h1 class="panel-title"><strong>Download - Full Serie</strong></h1>
		</div>
		<div class="panel-body">
			<accordion>
				<accordion-group heading="Read Online">
					read Online
				</accordion-group>
				<accordion-group heading="Torrents">
					Test
				</accordion-group>
				<accordion-group heading="Direct Download">
					Test
				</accordion-group>
			</accordion>
		</div>
	</div>
</div>
