<div class="modal-header">
	<h3>Alerts & Errors</h3>
</div>
<div class="modal-body">
	<alert ng-repeat="alert in alerts.list" type="{{alert.type}}" close="alerts.remove($index)">
		<p class="pull-right">{{alert.time | date : 'yyyy-MM-dd HH:mm'}}</p>
		<h3><abbr title="{{alert.code}} - {{alert.developerMessage}}">{{alert.httpStatus}}</abbr></h3>
		<p>{{alert.message}}</p>
		<p><small>More Info: <a class="alert-link" target="_blank" href="{{alert.moreInfoUri}}">{{alert.moreInfoUri}}</a></small></p>
		<p><small><button class="clickable" ng-click="toggleCollapseStatus($index)">Request</button></small></p>
		<div collapse="alert.collapsed">
			<div class="well well-lg">{{alert.request.method}} - {{alert.request.url}}</div>
		</div>
	</alert>
</div>
<div class="modal-footer">
	<button class="btn btn-primary" ng-click="ok()">OK</button>
	<button class="btn btn-default" ng-click="reset()">Reset</button>
</div>
